In [48]:
from pyspark import SparkContext
from pyspark.sql import SQLContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
import os
from datetime import datetime

**Filter data to find only country with Australia**

In [49]:
def filterData(df):
      return df.filter(col("Country/Region") == "Australia")

**Relative path**

In [50]:
dirname = os.path.abspath('')
filepath = os.path.join(dirname, 'time_series_19-covid-Confirmed_archived_0325.csv')

**Read file**

In [56]:
#sc = SparkContext("local", "covid_big_data")
sqlContext = SQLContext(sc)
df = sqlContext.read.option("inferSchema", "true").option("header", "true").csv(filepath)

In [57]:
df = filterData(df)

counts = df.count()
print ("Number of rows in df -> %i" % (counts))

df.toPandas()

Number of rows in df -> 9

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20,3/22/20,3/23/20
0,New South Wales,Australia,-33.8688,151.2093,0,0,0,0,3,4,...,112,134,171,210,267,307,353,436,533,533
1,Victoria,Australia,-37.8136,144.9631,0,0,0,0,1,1,...,49,57,71,94,121,121,121,229,296,296
2,Queensland,Australia,-28.0167,153.4000,0,0,0,0,0,0,...,46,61,68,78,94,144,184,221,221,221
3,South Australia,Australia,-34.9285,138.6007,0,0,0,0,0,0,...,19,20,29,29,37,42,50,67,100,100
4,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,17,17,28,31,35,52,64,90,120,120
6,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,5,6,7,7,10,10,10,16,22,22
7,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,1,1,1,1,1,1,3,3,3,3
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,1,1,2,2,3,4,6,9,19,19

In [58]:
names = df.schema.names
start_date = datetime.strptime("1/31/20", '%m/%d/%y')
end_date = datetime.strptime("3/22/20", '%m/%d/%y')
#len(names)
for column in names:
    if column != "Province/State" and column != "Country/Region" and column != "Lat" and column != "Long":
        col_name = datetime.strptime(column, '%m/%d/%y')
        if not(col_name > start_date and col_name < end_date):
            df = df.drop(column)
    


df.toPandas()

,Province/State,Country/Region,Lat,Long,2/1/20,2/2/20,2/3/20,2/4/20,2/5/20,2/6/20,...,3/12/20,3/13/20,3/14/20,3/15/20,3/16/20,3/17/20,3/18/20,3/19/20,3/20/20,3/21/20
0,New South Wales,Australia,-33.8688,151.2093,4,4,4,4,4,4,...,65,92,112,134,171,210,267,307,353,436
1,Victoria,Australia,-37.8136,144.9631,4,4,4,4,4,4,...,21,36,49,57,71,94,121,121,121,229
2,Queensland,Australia,-28.0167,153.4000,3,2,2,3,3,4,...,20,35,46,61,68,78,94,144,184,221
3,South Australia,Australia,-34.9285,138.6007,1,2,2,2,2,2,...,9,16,19,20,29,29,37,42,50,67
4,From Diamond Princess,Australia,35.4437,139.6380,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,Western Australia,Australia,-31.9505,115.8605,0,0,0,0,0,0,...,9,14,17,17,28,31,35,52,64,90
6,Tasmania,Australia,-41.4545,145.9707,0,0,0,0,0,0,...,3,5,5,6,7,7,10,10,10,16
7,Northern Territory,Australia,-12.4634,130.8456,0,0,0,0,0,0,...,1,1,1,1,1,1,1,1,3,3
8,Australian Capital Territory,Australia,-35.4735,149.0124,0,0,0,0,0,0,...,0,1,1,1,2,2,3,4,6,9

In [34]:
names = df.schema.names
len(names)

64